.card1 {
  height: 20px;
}

.cardBody {
  background-color: #a9ee9d;
  color: #fff;
  padding: 20px;
  text-align: center;
  font-size: 40px;
}
.cardAllignment {
  margin-left: auto;
  margin-right: auto;
  margin-top: 20px;
}
